.mainHomeDiv{
    width: 90vw;
    margin: auto;
    box-shadow: 10px;
}
.profileImgClass{
    border-radius: 50%;
}
.aboutFirstGrid{
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    gap: 1vw;
    padding: 1vw;
    margin: 1vw;
}
.techImgClass{
    height: 10vh;
}
.techGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: space-around;
    padding: 0.2vw;
    margin: 0.2vw;
    gap: 0.5vw;
}
.techParaClass{
    font-size: 2vw;
    font-weight: bolder;
}
.externalLinksClass{
    font-size: 2vw;
    text-decoration: none;
    padding: 0.2vw;
    color: black;
    border-bottom: 2px dashed gray;
    
}
.externalLinksClass:hover{
    color: blue;
    font-size: 2.1vw;
    border-color: blue;
}
.projectImgClass{
    margin-top: 2vh;
}
.projectParaClass{
    font-size: 2vw;
}
.contactClass{
    text-decoration: none;
    font-size: 1.8vw;
    text-align: left;
    margin-left: 0.5vw;
    color: black;
    border-bottom: 1px dotted gray;
   
}
.contactClass:hover{
    color: blue;
    font-size: 1.9vw;
    border-color: blue;
}

.contactSingleDiv{
    margin: 0.5vw;
    padding: 0.5vw;
}